.div {
    display: flex;
    flex-direction: column;
}

.div-2 {
    disply: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 364px;
    width: 100%;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
    }
}

.img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.div-3 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-3 {
        max-width: 100%;
    }
}

.div-4 {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 100%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0px;
    padding: 9px 29px 9px 80px;
}

@media (max-width: 991px) {
    .div-4 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.div-5 {
    justify-content: space-between;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #e5e0df;
    background: linear-gradient(180deg, #fff 0%, #fcf9f5 100%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    padding: 9px 13px;
}

.img-2 {
    aspect-ratio: 0.71;
    object-fit: contain;
    object-position: center;
    width: 10px;
    overflow: hidden;
    max-width: 100%;
}

.div-6 {
    justify-content: center;
    color: #3c3838;
    text-align: center;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px/17px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-6 {
        white-space: initial;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
}

.div-7 {
    align-self: center;
    display: flex;
    width: 810px;
    max-width: 100%;
    flex-direction: column;
    margin: 44px 0 32px;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .div-7 {
        margin-top: 40px;
    }
}

.div-8 {
    justify-content: center;
    color: #ffb992;
    margin-right: -20px;
    font: 400 54px/67.5px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-8 {
        max-width: 100%;
        font-size: 40px;
        line-height: 56px;
    }
}

.div-9 {
    justify-content: center;
    color: #fff;
    align-self: end;
    max-width: 773px;
    margin: 34px -20px 0 0;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        max-width: 100%;
    }
}

.div-10 {
    background-color: #ececf3;
    display: flex;
    margin-top: 236px;
    width: 100%;
    flex-direction: column;
    padding: -236px 5px 42px -5px;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-11 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .div-11 {
        max-width: 100%;
    }
}

.div-12 {
    width: 927px;
    max-width: 100%;
    padding-right: 1px;
}

.div-13 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-13 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 71%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-14 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-14 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-15 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-15 {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }
}

.div-16 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    margin-top: 36px;
    flex-direction: column;
    padding: 16px 28px 16px 15px;
}

@media (max-width: 991px) {
    .div-16 {
        max-width: 100%;
        padding-right: 20px;
    }
}

.div-17 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-17 {
        max-width: 100%;
    }
}

.div-18 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-18 {
        max-width: 100%;
    }
}

.div-19 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    padding: 16px 18px 16px 15px;
}

@media (max-width: 991px) {
    .div-19 {
        max-width: 100%;
    }
}

.div-20 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-20 {
        max-width: 100%;
    }
}

.div-21 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-21 {
        max-width: 100%;
    }
}

.div-22 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    padding: 17px 17px 17px 15px;
}

@media (max-width: 991px) {
    .div-22 {
        max-width: 100%;
    }
}

.div-23 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-23 {
        max-width: 100%;
    }
}

.div-24 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-24 {
        max-width: 100%;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 29%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.img-4 {
    aspect-ratio: 0.39;
    object-fit: contain;
    object-position: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .img-4 {
        margin-top: 40px;
    }
}

.div-25 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

@media (max-width: 991px) {
    .div-25 {
        max-width: 100%;
    }
}

.div-26 {
    display: flex;
    width: 551px;
    max-width: 100%;
    flex-direction: column;
    margin: 41px 0 108px -154px;
}

@media (max-width: 991px) {
    .div-26 {
        margin: 40px 0;
    }
}

.div-27 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-27 {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }
}

.div-28 {
    justify-content: center;
    color: #1b1b27;
    margin-top: 50px;
    font: 400 27px/34px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-28 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-29 {
    justify-content: center;
    color: #3c3939;
    margin-top: 20px;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-29 {
        max-width: 100%;
    }
}

.div-30 {
    justify-content: center;
    color: #3c3939;
    margin-top: 5px;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-30 {
        max-width: 100%;
    }
}

.div-31 {
    justify-content: center;
    color: #3c3939;
    margin-top: 5px;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-31 {
        max-width: 100%;
    }
}

.div-32 {
    justify-content: center;
    color: #3c3939;
    white-space: nowrap;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-32 {
        max-width: 100%;
        white-space: initial;
    }
}

.div-33 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

@media (max-width: 991px) {
    .div-33 {
        max-width: 100%;
    }
}

.div-34 {
    width: 860px;
    max-width: 100%;
    margin: 49px 0 32px;
}

@media (max-width: 991px) {
    .div-34 {
        margin-top: 40px;
    }
}

.div-35 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-35 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-36 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-36 {
        margin-top: 27px;
    }
}

.div-37 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-37 {
        font-size: 40px;
        line-height: 55px;
    }
}

.img-5 {
    aspect-ratio: 1.62;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 44px;
}

@media (max-width: 991px) {
    .img-5 {
        margin-top: 40px;
    }
}

.div-38 {
    justify-content: center;
    color: #1b1b27;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-39 {
    justify-content: center;
    color: #3c3939;
    margin-top: 7px;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-40 {
    display: flex;
    margin-top: 86px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-40 {
        margin-top: 40px;
    }
}

.img-6 {
    aspect-ratio: 1.63;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-41 {
    justify-content: center;
    color: #1b1b27;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-42 {
    justify-content: center;
    color: #3c3939;
    margin-top: 7px;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-43 {
    display: flex;
    margin-top: 86px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-43 {
        margin-top: 40px;
    }
}

.img-7 {
    aspect-ratio: 1.63;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-44 {
    justify-content: center;
    color: #1b1b27;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-45 {
    justify-content: center;
    color: #3c3939;
    margin-top: 7px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-46 {
    border-radius: 13.5px;
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

@media (max-width: 991px) {
    .div-46 {
        max-width: 100%;
    }
}

.div-47 {
    display: flex;
    width: 496px;
    max-width: 100%;
    flex-direction: column;
    margin: 45px 0 60px -181px;
}

@media (max-width: 991px) {
    .div-47 {
        margin: 40px 0;
    }
}

.div-48 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-48 {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }
}

.div-49 {
    justify-content: center;
    color: #3c3939;
    margin-top: 64px;
    font: 400 18px/29px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-49 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-8 {
    aspect-ratio: 0.88;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 28px;
}

@media (max-width: 991px) {
    .img-8 {
        max-width: 100%;
    }
}

.div-50 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 44px;
}

@media (max-width: 991px) {
    .div-50 {
        max-width: 100%;
    }
}

.div-51 {
    display: flex;
    margin-top: 22px;
    width: 903px;
    max-width: 100%;
    flex-direction: column;
}

.div-52 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-52 {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }
}

.div-53 {
    margin-top: 44px;
    padding-right: 5px;
}

@media (max-width: 991px) {
    .div-53 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-54 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-54 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}

.div-55 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 18px 62px 29px 19px;
}

@media (max-width: 991px) {
    .div-55 {
        max-width: 100%;
        margin-top: 19px;
        padding-right: 20px;
    }
}

.div-56 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-57 {
    justify-content: center;
    color: #3c3939;
    margin-top: 7px;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-7 {
        width: 100%;
    }
}

.div-58 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 18px 32px 28px 14px;
}

@media (max-width: 991px) {
    .div-58 {
        max-width: 100%;
        margin-top: 19px;
        padding-right: 20px;
    }
}

.div-59 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-60 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-61 {
    margin-top: 21px;
    padding-right: 5px;
}

@media (max-width: 991px) {
    .div-61 {
        max-width: 100%;
    }
}

.div-62 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-62 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-8 {
        width: 100%;
    }
}

.div-63 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 14px 24px 14px 19px;
}

@media (max-width: 991px) {
    .div-63 {
        max-width: 100%;
        margin-top: 17px;
        padding-right: 20px;
    }
}

.div-64 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-65 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-9 {
        width: 100%;
    }
}

.div-66 {
    border-radius: 6.75px;
    border: 1px solid #c3c3d5;
    background-color: rgba(248, 113, 37, 0.3);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 14px 13px 14px 14px;
}

@media (max-width: 991px) {
    .div-66 {
        max-width: 100%;
        margin-top: 19px;
    }
}

.div-67 {
    justify-content: center;
    color: #3c3939;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-68 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-69 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

@media (max-width: 991px) {
    .div-69 {
        max-width: 100%;
    }
}

.div-70 {
    width: 876px;
    max-width: 100%;
    margin: 42px 0 49px;
}

@media (max-width: 991px) {
    .div-70 {
        margin: 40px 0;
    }
}

.div-71 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-71 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-10 {
        width: 100%;
    }
}

.div-72 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-72 {
        margin-top: 40px;
    }
}

.div-73 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-73 {
        font-size: 40px;
        line-height: 55px;
    }
}

.div-74 {
    justify-content: center;
    color: #1b1b27;
    margin-top: 51px;
    font: 400 27px/34px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-74 {
        margin-top: 40px;
    }
}

.div-75 {
    justify-content: center;
    color: #3c3939;
    margin-top: 19px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-76 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-77 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-11 {
        width: 100%;
    }
}

.div-78 {
    display: flex;
    margin-top: 100px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-78 {
        margin-top: 40px;
    }
}

.div-79 {
    justify-content: center;
    color: #1b1b27;
    font: 400 27px/34px Raleway, sans-serif;
}

.div-80 {
    justify-content: center;
    color: #3c3939;
    margin-top: 19px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-81 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-82 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-83 {
    justify-content: center;
    color: #3c3939;
    margin-top: 8px;
    font: 400 18px/29px Roboto, sans-serif;
}

.column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-12 {
        width: 100%;
    }
}

.div-84 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-84 {
        margin-top: 40px;
    }
}

.div-85 {
    justify-content: center;
    color: #1b1b27;
    font: 400 27px/34px Raleway, sans-serif;
}

.div-86 {
    justify-content: center;
    color: #3c3939;
    margin-top: 18px;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-87 {
    box-shadow: 0px 0px 0px 1.125px rgba(255, 255, 255, 0.64),
        0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    display: flex;
    margin-top: -42px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

@media (max-width: 991px) {
    .div-87 {
        max-width: 100%;
    }
}

.div-88 {
    display: flex;
    width: 862px;
    max-width: 100%;
    flex-direction: column;
    margin: 43px 0 56px;
}

@media (max-width: 991px) {
    .div-88 {
        margin: 40px 0;
    }
}

.div-89 {
    justify-content: center;
    color: #1b1b27;
    font: 400 45px/56px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-89 {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }
}

.div-90 {
    margin-top: 44px;
}

@media (max-width: 991px) {
    .div-90 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-91 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-91 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-13 {
        width: 100%;
    }
}

.div-92 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-92 {
        margin-top: 30px;
    }
}

.img-9 {
    aspect-ratio: 1.62;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-93 {
    justify-content: center;
    color: #1b1b27;
    margin-top: 5px;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-14 {
        width: 100%;
    }
}

.div-94 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-94 {
        margin-top: 30px;
    }
}

.img-10 {
    aspect-ratio: 1.62;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-95 {
    justify-content: center;
    color: #1b1b27;
    margin-top: 5px;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-15 {
        width: 100%;
    }
}

.div-96 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-96 {
        margin-top: 30px;
    }
}

.img-11 {
    aspect-ratio: 1.62;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-97 {
    justify-content: center;
    color: #1b1b27;
    margin-top: 5px;
    font: 400 22.5px/28px Raleway, sans-serif;
}

.div-98 {
    margin-top: 13px;
}

@media (max-width: 991px) {
    .div-98 {
        max-width: 100%;
    }
}

.div-99 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-99 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 68%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-16 {
        width: 100%;
    }
}

.div-100 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-100 {
        max-width: 100%;
        margin-top: 26px;
    }
}

.div-101 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-101 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-102 {
    justify-content: center;
    color: #3c3939;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-103 {
    justify-content: center;
    color: #3c3939;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-104 {
    justify-content: center;
    color: #000;
    text-align: center;
    border-radius: 6.75px;
    box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: #f87125;
    align-self: center;
    width: 103px;
    max-width: 100%;
    margin: 8px 0 0 63px;
    padding: 17px 15px;
    font: 400 18px/29px Raleway, sans-serif;
}

.column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 32%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-17 {
        width: 100%;
    }
}

.div-105 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-105 {
        margin-top: 26px;
    }
}

.div-106 {
    justify-content: center;
    color: #3c3939;
    font: 400 18px/29px Roboto, sans-serif;
}

.div-107 {
    display: flex;
    margin-top: 19px;
    padding-right: 60px;
    justify-content: space-between;
    gap: 11px;
}

@media (max-width: 991px) {
    .div-107 {
        padding-right: 20px;
    }
}

.div-108 {
    justify-content: center;
    color: #000;
    text-align: center;
    align-items: start;
    border-radius: 6.75px;
    box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: #f87125;
    flex-grow: 1;
    padding: 17px 16px;
    font: 400 18px/29px Raleway, sans-serif;
}

.div-109 {
    justify-content: center;
    color: #000;
    text-align: center;
    border-radius: 6.75px;
    box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
        0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
    background-color: #f87125;
    flex-grow: 1;
    padding: 17px 15px;
    font: 400 18px/29px Raleway, sans-serif;
}

@media (max-width: 991px) {
    .div-109 {
        padding-right: -1px;
    }
}